.content {
  display: flex;
  justify-content: space-around;
  align-content: center;
  max-width: 1200px;
  margin: 12rem 0 0 5rem;
  padding: 25px;
}

.fields {
  width: 450px;
}

.calling h2 {
  color: #ffb400;
}

.calling p {
  line-height: 200%;
  font-size: larger;
}

.calling {
  display: flex;
  flex-direction: column;
  gap: 10%;
  max-width: 350px;
}

.name-email {
  display: flex;
  margin-bottom: 5%;
}

textarea {
  width: 100%;
  padding: 4.5%;
  background: linear-gradient(#001823, #001823) padding-box,
    linear-gradient(0deg, #ffb400, #9f2042) border-box;
  border: 2px solid transparent;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

::placeholder {
  font-size: small;
}

.msg {
  width: 100%;
  margin-bottom: 5%;
  background: #001823;
  border: brown 2px solid;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.nme {
  width: 50%;
  background: linear-gradient(#001823, #001823) padding-box,
    linear-gradient(0deg, #9f2042, #ffb400) border-box;
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.sub {
  display: flex;
  justify-content: center;
}

input {
  display: block;
  height: 40px;
  color: #ffffff;
  padding: 0 20px;
  font-weight: 300;
}

input[type='email'] {
  width: 50%;
  background: linear-gradient(#001823, #001823) padding-box,
    linear-gradient(0deg, #9f2042, #ffb400) border-box;
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

input[type='submit'] {
  color: #ffffff;
  width: 100px;
  padding: 8px;
  font-weight: bolder;
  font-size: 1.1rem;
  background: linear-gradient(90deg, #ffb400, #9f2042) padding-box;
  border-radius: 1rem;
  border: none;
  margin: 5%;
  cursor: pointer;
}

.err {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #9f2042;
  font-size: 0.8rem;
  font-weight: lighter;
  font-style: italic;
  margin: 0 0 0.5rem;
}

@media only screen and (max-width: 992px) {
  h1 {
    text-align: center;
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
    padding: 20px 0 20px 0;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    max-width: 800px;
    margin: 0% auto 0% auto;
    /* margin: 5%; */
  }

  .calling p {
    line-height: 120%;
    font-size: medium;
  }
}
