* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #13262f;
  color: #ffffff;
  /* overflow: hidden; */
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.75s, visibility, 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: '';
  width: 50px;
  height: 50px;
  border: 10px solid #dddddd;
  border-top-color: #0e79b2;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
}

.side-navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 5%;
  right: 25px;
}

.active {
  font-size: large;
  font-weight: bolder;
  background-color: #0e79b2;
  padding: 5px 20px;
  border-radius: 1rem 0 0 1rem;
  margin-right: -30px;
}

.hdn {
  position: absolute;
  display: none;
}

.links {
  display: flex;
  align-items: flex-end;
  align-items: center;
}

.right {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.left {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  width: 200px;
}

.footer {
  padding: 8px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #001823;
}

@media only screen and (max-width: 992px) {
  .container {
    grid-template-columns: 1fr;
  }
  .side-navigation {
    top: unset;
    right: unset;
    bottom: 45px;
    height: unset;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #001823;
    border-radius: 40px;
    width: 100%;
  }

  .footer {
    padding: 6px 20px;
  }

  .links img {
    width: 50px;
  }

  .right img {
    width: 20px;
  }

  .active {
    display: none;
  }

  .right {
    width: 100%;
  }

  .left {
    display: none;
  }
}
